/* ================================= 
  Base Styles
==================================== */
:root {
    --purple: #7477bf;
    --dark-purple: #4d4c72;
    --teal: #73b1bf;
    --green: #81c98f;
    --light-gray: #c5c5c5;
    --gray: #b2b2b2;
}


body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

h3 {
    text-transform: uppercase;
    font-size: 1rem;
}

.member:not(:last-child),
.member-activity:not(:last-child) {
    border-bottom: solid 1px #e9e9e9;
}

.member-details p,
.activity-details p {
    margin: 8px auto;
}

.member-details p:first-of-type {
    font-size: 1rem;
    font-weight: 700;
}

.member-details p:nth-of-type(2) {
    color: var(--purple);
}

.member-activity > p {
    color: var(--purple);
}

span {
    font-weight: 700;
    font-weight: 700;
}

fieldset {
    border: 0;
}

button {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.message-form>input,
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.message-form>input {
    height: 40px;
}

.message-form>button {
    background: var(--purple);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 45px;
}

textarea {
    height: 120px;
}

.settings-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.settings-btns button {
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 45px;
}

.settings-btns button:first-of-type {
    background: var(--purple);
    margin-right: 30px;
}

.settings-btns button:last-of-type {
    background: var(--gray);
}

select {
    padding: 16px;
    width: 100%;
    margin-bottom: 20px;
}


/* ================================= 
  Base Layout Styles
==================================== */

.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}


header {
    background: var(--purple);
    grid-area: header;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav {
    background: var(--dark-purple);
    grid-area: nav;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "search"
    "traffic"
    "daily-traffic"
    "mobile-users"
    "social-stats"
    "new-members"
    "recent-activity"
    "message-user"
    "settings";
    margin-bottom: 75px;

}

section {
    padding: 20px 35px;
}

#search {
    grid-area: search;
    display: flex;
    flex-direction: column;
}

.search-area {
    border-bottom: solid 1px var(--light-gray);
    background: #fbfbfb;
    height: 65px;
    display: flex;
    justify-content: center;
}

#search-input {
    width: 90%;
    height: 40px;
    padding: 12px;
    box-sizing: border-box;
}

#traffic {
    border-bottom: solid 1px var(--light-gray);
    grid-area: traffic;
}

#daily-traffic {
    border-bottom: solid 1px var(--light-gray);
    grid-area: daily-traffic;
}

#mobile-users {
    border-bottom: solid 1px var(--light-gray);
    grid-area: mobile-users;

}

#social-stats {
    border-bottom: solid 1px var(--light-gray);
    grid-area: social-stats;
}

.social-widgets {
    display: flex;
    flex-direction: column;
}

.social-tile {
    border: solid 1px var(--light-gray);
    border-radius: 5px;
    padding: 20px;
}

.social-header {
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 700;
}

.social-numbers {
    font-size: 2.5rem;
    font-weight: 300;
}

#new-members {
    border-bottom: solid 1px var(--light-gray);
    grid-area: new-members;
}

.member img,
.member-activity img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.member,
.member-activity {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.member-details,
.activity-details {
    flex: 2;
    padding-left: 10px;
}

#recent-activity {
    border-bottom: solid 1px var(--light-gray);
    grid-area: recent-activity;
}

#message-user {
    grid-area: message-user;
}

#message-user fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#settings {
    grid-area: settings;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.toggle-group {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    
}

/* Start Toggle Switch */
.on-off-switch {
    position: relative;
    display: inline-block;
}

input[type="checkbox"] {
    display: none;
}

.switch { 
    position: relative ;
    display: inline-block;
    width: 90px;
    height: 35px;
    background-color: var(--gray);
    border-radius: 20px;
  }

  .switch::after {
    /* The toggle circle */
    z-index: 2;
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid var(--gray);
    top: 4px;
    left: 2px;
    transition: all 0.3s ease-in-out;
  }

  input[type="checkbox"]:checked + .switch::after {
    left: 62px; 
  }

  input[type="checkbox"]:checked + .switch {
    background-color: var(--purple);
  }

  .onLabel,
  .offLabel {
      position: absolute;
      bottom: 12px;
      pointer-events: none;
      font-weight: 700;
      color: #fff;
      transition: opacity 0.3s ease-out;
  }
  
  .onLabel {
    left: 6px;
  }

  .offLabel {
    right: 6px;
}

input[type="checkbox"]:checked ~ .offLabel {
    opacity: 0;
  }

  input[type="checkbox"]:not(:checked) ~ .onLabel {
    opacity: 0;
  }
  /* End Toggle Switch */

/* ================================= 
  Media Queries
==================================== */

/* == Tablet media query == */
@media only screen and (min-width: 768px) {
}

/* == Desktop media query == */
@media only screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: 1fr 9fr;
        grid-template-areas: 
        "header header header"
        "nav main main"
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "search search"
        "traffic traffic"
        "daily-traffic mobile-users"
        "social-stats social-stats"
        "new-members recent-activity"
        "message-user settings";
    }

    #search {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 20px 35px;
    }

    .search-area {
        border-left: solid 1px var(--light-gray);
        width: 80%;
        justify-content: flex-end;
    }

    #search-input {
        width: 40%;
        margin: auto 0;
        margin-right: 35px;
    }

    .social-widgets {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #social-stats {
        border-bottom: solid 1pxvar(--light-gray);
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    #daily-traffic {
        border-right: solid 1px var(--light-gray);
    }
    
    #new-members {
        border-right: solid 1px var(--light-gray);
    }
    
    #message-user {
        border-right: solid 1px var(--light-gray);
    }
    
}