/* ================================= 
  Base Styles
==================================== */
body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

h3 {
    text-transform: uppercase;
}

span {
    font-weight: 700;
}

/* ================================= 
  Base Layout Styles
==================================== */

.wrapper {
    display: grid;
    grid-template-columns: auto;

}

header {
    background: hotpink;
    grid-area: header;
}

nav {
    background: lightgoldenrodyellow;
    grid-area: nav;
}

main {
    display: grid;
    grid-area: main;
}

#search {
    background: lightgreen;
    grid-area: search;
}

#traffic {
    background: red;
    grid-area: traffic;
}

#daily-traffic {
    background: blue;
    grid-area: daily-traffic;
}

#mobile-users {
    background: orange;
    grid-area: mobile-users;
}

#social-stats {
    background: green;
    grid-area: social-stats;
}

.social-tile {
    background: fuchsia;
}

#new-members {
    background: purple;
    height: 100px;
    grid-area: new-members;
}

#recent-activity {
    background: lightblue;
    grid-area: recent-activity;
}

#message-user {
    background: pink;
    grid-area: message-user;
}

#settings {
    background: grey;
    grid-area: settings;
}

/* ================================= 
  Media Queries
==================================== */

/* == Tablet media query == */
@media only screen and (min-width: 768px) {
}

/* == Desktop media query == */
@media only screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: 1fr 9fr;
        grid-template-areas: 
        "header header header"
        "nav main main"
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "search search"
        "traffic traffic"
        "daily-traffic mobile-users"
        "social-stats social-stats"
        "new-members recent-activity"
        "message-user settings";
    }

}